/************************************************
 * My resume style, mix of:
 * 3ColorResume Author: office@kamsolutions.pl
 * and
 * Sarah Schattschneider https://github.com/sschatts
 ************************************************/

body {
	background-color: #FFF;
	font-family: "Roboto", arial, sans-serif;
	padding-top: 1rem;
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	margin: 0px;
}

h2 {
	font-size: 1.4rem;
	color: rgb(40, 40, 40);
	font-family: "Roboto", arial, sans-serif;
}

h3 {
	font-size: 1.2rem;
	margin-bottom: .3rem;
	color: #03A9F4;
}

h4 {
	font-size: 1.05rem;
	margin-bottom: .3rem;
	color: #03A9F4;
	text-align: right;
}

header {
	margin-bottom: 1.875rem;
}


.circle {
    width: 170px;
    height: 170px;
    border-radius: 85px;
		background-color: #03A9F4;
		color: #FFF;
		margin: 2px 2px 2px 25px;
		padding: 2px 3px 4px 3px;
}

.big_letter{
	font-size: 4.5rem;
	margin: 4.5px 3px 2px 3px;
	padding: 35px 60px 35px 60px;
	border: 2px dashed #FFF;
	border-radius: 115px;
}

.top_page{
	margin-top: 2rem;
}

.top{
	margin-top: 4rem;
}

.where{
	font-weight: bold;
	display: inline;
	text-align: left;
}

.when{
	font-weight: bold;
	display: inline-block;
	position:absolute;
	right:0;
}

.no_space_bottom{
	display: block;
}

a {
	text-decoration: none;
	color: #000;
}


/************************************************
 * DEFAULT BOX
 ************************************************/
.box{
  margin-bottom: 15px;
}
.box h2{
  color: #EC7263;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}
.box h2:before{
  content: '//';
  margin-right: 5px;
}
.box p{
/*  font-size: 1.3em; */
  line-height: 1.5em;
}

/************************************************
 * CONTACT BOX
 ************************************************/
.contact-item{
  width: 100%;
  float: left;
}
.contact-item .icon{
  padding: 10px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  opacity: 0.2;
}
.contact-item:last-child .icon{
  border-bottom: none;
}
.contact-item .fa{
  /*font-size: 2em; */
}
.contact-item .title{
  width: 80%;
  width: calc(100% - 55px);
 /*  font-size: 1.5em; */
  font-weight: 700;
  opacity: 0.9;
}
.contact-item .title.only{
  margin-top: 10px;
}
.contact-item .description{
  width: 80%;
  width: calc(100% - 55px);
  font-size: 0.8em;
  opacity: 0.7;
}

/************************************************
 * EXPERIENCES
 ************************************************/
.exp {
  margin-bottom: 15px;
}
.exp .where{
 /* font-size: 1.4em; */
  font-weight: bold;
}
.exp .year{
  font-size: 0.8em;
  opacity: 0.7;
}
.exp .profession{
  font-size: 1.2em;
  font-weight: bold;
}
.exp .description{
 /* font-size: 1.2em; */
  line-height: 1.5em;
}


/************************************/


.small_section{
	display: block;
	text-align: right;
	margin-bottom: 35px;
}

.italic{
	font-style: italic;
}

.small_space_bottom{
	display: block;
	margin-bottom: 10px;
}

.skills{
	display: inline;
	list-style: none;
	text-align: right;
}

.right_side{
	border-left: 2px solid rgb(140, 140, 140);
	padding-left: 14px;
}

.left_side{
	padding-right: 4px;
}


